
<div class="container">
    <div class="row mb-5">
        <div class="col-2">
            <h2 class="mb-3">Item Size </h2>
        </div>
        <div class="col-6">
            <input  [(ngModel)]="searchValue" (change)="SearchItemSize()" type="text" placeholder="Search" class="form-control">
        </div>
        <div class="col-2">
            <button [routerLink]="['/size',0]" class="btn btn-success">Add</button>
        </div>
    </div>



    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Size</th>
            <th scope="col">Price </th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of itemSizeList;let i=index;">
          <th scope="row">{{i+1}}</th>
          <td>{{item.product.name}}</td>
          <td>{{item.size}}</td>
          <td>{{item.price}}</td>
          <td>
           <a class="edit-btn" [routerLink]="['/size', item._id]"><i class="las la-pen"></i></a>
           <a class="del-btn" (click)="DeleteItemSize(item._id)"><i class="las la-trash"></i></a>
          </td>
        </tr>
    
        </tbody>
      </table>
      <!-- <div class="text-center">
        <mat-paginator [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
    </mat-paginator>
      </div> -->
</div>