<div class="">
    <h2 class="mb-3"> {{(isUpdate) ? "Update":"Add"}} Item Size</h2>
    <form action="" (ngSubmit)="OnFormSubmit()" method="post">
        <div class="row">
            <div class="col-4 mb-3">
                <label for="name" class="form-label">Select Product</label>
                <!-- <input type="text" class="form-control" id="name" placeholder="" name="name"
                 [(ngModel)]="itemSizeObj.product"> -->
                 <select name="" class="form-control" id="name" (change)="ProductSelect($event)"
                  placeholder="Select Product">
                    <option value="{{product._id}}" *ngFor="let product of productList">
                        <!-- <span>
                            <img src="{{product.coverImage.image}}" *ngIf="product.coverImage.image!=null" alt="">
                        </span> -->
                        {{product.name}}</option>
                </select>
                </div>
              <div class="col-4 mb-3">
                <label for="size" class="form-label">Size</label> <small> (i.e 1lb, 2lb)</small>
                <input class="form-control" type="text" id="size" placeholder="" name="size"
                 [(ngModel)]="itemSizeObj.size" />
              </div>

              <div class="col-4 mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" placeholder="0" name="price"
                 [(ngModel)]="itemSizeObj.price" />
              </div>


              <div class="col-12 text-center mt-3">
                <button class="theme-btn">Save</button>
              </div>

        </div>
    </form>

</div>
