<div class="">
    <h2 class="mb-3"> {{(isUpdate) ? "Update":"Add"}} Product</h2>
    <form action="" (ngSubmit)="OnFormSubmit()" method="post">
        <div class="row">
            <div class="col-4 mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="" name="name"
                 [(ngModel)]="product.name">
              </div>
              <div class="col-4 mb-3">
                <label for="name" class="form-label">Category</label>
                <select name="category" class="form-control" placeholder="Select Category" [(ngModel)]="product.category" id="">
                    <option value="" selected>Select Category</option>
                    <option value="{{category._id}}" *ngFor="let category of categoryList">{{category.name}}</option>
                </select>
              </div>
              <div class="col-4 mb-3">
                <label for="price" class="form-label">Price</label> <small> (in $ USD)</small>
                <input type="number" class="form-control"  id="price" placeholder="0" name="price"
                 [(ngModel)]="product.price">
              </div>
              <div class="col-12 mb-3">
                <label for="desc" class="form-label">Description</label>
                <textarea class="form-control" id="desc" placeholder="" name="desc"
                 [(ngModel)]="product.description" ></textarea>
              </div>
              <div class="col-4 mb-3">
                <label for="stock" class="form-label">Stock</label> <small> (in units)</small>
                <input type="number" class="form-control"  id="stock" placeholder="0" name="stock"
                 [(ngModel)]="product.stock">
              </div>
              <!-- <div class="col-4 mb-3">
                <label for="picture" class="form-label">Cover Picture</label>
                <input type="file" class="form-control" id="picture" placeholder="" name="picture"
                 [(ngModel)]="product.coverImage" (change)="UploadPicture($event)">
              </div> -->
              <div class="col-4 mb-3">
                <label for="material" class="form-label">Material</label>
                <input type="text" class="form-control"  id="material"  name="material"
                 [(ngModel)]="product.material">
              </div>
              <div class="col-4 mb-3">
                <label for="cut" class="form-label">Cut</label>
                <input type="text" class="form-control"  id="cut"  name="cut"
                 [(ngModel)]="product.cut">
              </div>

              <div class="col-12 mb-2 mt-2" *ngIf="product?.variationList?.length>0">
                <h4>Available Sizes</h4>
              </div>   
          
              <div class="row" *ngIf="product?.variationList?.length>0">
                  <div class="col-3 " *ngFor="let item of product?.variationList">
                        <div class="size-info card">     
                          <div class="text-end">
                            <a (click)="DeleteProductSize(item._id)"> <i class="las la-trash"></i></a>
                           </div>        
                          <p > Size - {{item.size}}</p>
                            <p>Dimensions - {{item.length}} x {{item.width}} x {{item.height}} </p>
                           <p> Price - ${{item.retailPrice}}</p>
                            <p>Quantity - {{item.quantity}}</p>
                        </div>
                  </div>
              </div>





              <div class="col-12 mb-2 mt-2">
                <h4>Product Variations</h4>
              </div>   
            
              <div class="col-3 mb-3">
                <label for="size" class="form-label">Size </label> <small>(lb if meat, 'X' size if wool products)</small>
                <input type="text" class="form-control"  id="size" placeholder=" Size"  name="size"
                 [(ngModel)]="productSizeObject.size">
              </div>
              <div class="col-3 mb-3">
                <label for="length" class="form-label">Length</label>
                <input type="number" class="form-control"  id="length"  name="length"
                 [(ngModel)]="productSizeObject.length">
              </div>
              <div class="col-3 mb-3">
                <label for="width" class="form-label">Width</label>
                <input type="number" class="form-control"  id="width"  name="width"
                 [(ngModel)]="productSizeObject.width">
              </div>
              <div class="col-3 mb-3">
                <label for="height" class="form-label">Height</label>
                <input type="number" class="form-control"  id="height"  name="height"
                 [(ngModel)]="productSizeObject.height">
              </div>
              <div class="col-3 mb-3">
                <label for="retailPrice" class="form-label">Price (in $)</label>
                <input type="number" class="form-control"  id="retailPrice"  name="retailPrice"
                 [(ngModel)]="productSizeObject.retailPrice">
              </div>
              <div class="col-3 mb-3">
                <label for="quantity" class="form-label">Quantity (units)</label>
                <input type="number" class="form-control"  id="quantity"  name="quantity"
                 [(ngModel)]="productSizeObject.quantity">
              </div>

              <div class="col-12">
                <button type="button" (click)="AddProductVariation($event)" class="btn btn-primary">Add variation</button>
              </div>

              <!-- product sizes -->
              <div class="mt-5 row" *ngIf="productSizeList.length>0">
                  <div class="col-4  " *ngFor="let size of productSizeList">
                  <div class="card size-info">
                    <div class="text-end">
                      <a (click)="RemoveProductSize(size)"> <i class="las la-trash"></i></a>
                     </div>
                     <p *ngIf="size.weight"> Weight - {{size.weight}}</p>
                     <p *ngIf="size.size"> Size - {{size.size}}</p>
                       <p>Dimensions - {{size.length}} x {{size.width}} x {{size.height}}</p>
                      <p> Price - {{size.retailPrice}}</p>
                       <p>Quantity - {{size.quantity}}</p>
                  </div>
                  </div>
              </div>




              <div class="col-12 text-center mt-3">
                <button class="theme-btn">Save</button>
              </div>

        </div>
    </form>

    <div class="" *ngIf="product._id">
        <h4 class="mb-5">Add Product Images</h4>
        <div class="row mb-3">
          <div class="col-4 mb-3">
            <label for="picture" class="form-label fw-bold">Cover</label>
            <input type="file" class="form-control" id="picture" placeholder="" name="picture"
              (change)="UploadCover($event)">
          </div>
          <div class="col-4" *ngIf="product.coverImage.image!=null">
            <div class="d-flex">
              <div class="">
                <img src="{{product.coverImage.image}}" alt="">
              </div>
              <div class="">
                <button class="del-image" (click)="DeleteFile(product.coverImage.id)">
                  <i class="las la-trash"></i>
                </button>
              </div>
            </div>
           
            
          </div>
        </div>

        <div class="row">
          <div class="col-4 mb-3">
            <label for="picture" class="form-label fw-bold">Other images</label>
            <input type="file" multiple class="form-control" id="picture" placeholder="" name="picture"
              (change)="UploadOtherImages($event)">
          </div>
          <div class="col-12" *ngIf="product.otherImages.length>0">
            <div class="d-flex" >
              <div *ngFor="let image of product.otherImages;">
                <div class="">
                  <img class=" m-1" src="{{image.image}}"   alt="">
                </div>
                <div class="">
                  <button class="del-image" (click)="DeleteFile(image.id)">
                    <i class="las la-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center mt-3">
            <button class="theme-btn" (click)="AddProductImages()">Save Image</button>
          </div>
        </div>
    </div>


</div>
